* {
  padding: 0;
  margin: 0;
  font-family: Nunito, sans-serif;
}

:root {
  font-size: 48px;
}
html {
  min-width: 100vw;
  min-height: 100vh;
}

@font-face {
  font-family: Orbitron;
  src: url(./fonts/Orbitron-Regular.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(./fonts/NunitoSans-Regular.ttf);
}

.bg-cover {
  background: url(./img/background.svg);
}

.main {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 0.2fr 0.1fr 0.1fr 0.1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  column-gap: 10px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

h1 {
  color: #3b00dd;
  padding: 0.5rem;
  justify-self: center;
  align-self: center;
  grid-area: 1 / 1 / 2 / 6;
  font-family: Orbitron, sans-serif;
}

.btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #000428 0%, #3b00dd 75%);
  font-size: 0.35rem;
}
.btn:hover {
  background-position: right center;
}
.btn:active {
  top: 2px;
}

.buttons {
  width: 20%;
  display: flex;
  justify-content: center;
  gap: 15px;
  justify-self: center;
  align-self: center;
  grid-area: 2 / 1 / 3 / 6;
}

.todo-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 3 / 1 / 6 / 6;
  justify-self: center;
}

.lists {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
}

.list-card {
  background-color: rgba(116, 77, 207, 0.405);
  display: flex;
  margin: 0.2rem;
  border-radius: 10px;
  border: 1px solid transparent;
}

.list-data {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.list-data:hover {
  cursor: pointer;
}

.list-priority,
.list-date {
  font-size: 0.5rem;
  color: rgb(178, 151, 223);
  font-style: italic;
  padding-left: 0.1rem;
}

.list-title,
.list-description,
.list-notes {
  word-break: break-all;
  display: inline-block;
}

.list-title {
  font-size: 0.7rem;
  color: rgb(248, 235, 252);
  padding-left: 0.1rem;
  font-weight: bold;
}

.list-description {
  font-size: 0.5rem;
  padding-left: 0.1rem;
  font-style: italic;
  color: rgb(248, 235, 252);
}

.list-notes {
  font-size: 0.6rem;
  padding-left: 0.1rem;
  color: rgb(171, 167, 172);
}

.list-complete,
.list-delete {
  width: 25px;
  height: 25px;
}

.list-complete {
  content: url(./img/check-circle.svg);
}

.list-delete {
  content: url(./img/x-circle.svg);
}

.priorityUp {
  content: url(./img/chevron-up.svg);
}

.priorityDown {
  content: url(./img/chevron-down.svg);
}

.list-complete:hover,
.list-delete:hover,
.priority-btn:hover {
  transition: ease-in-out 0.3s;
  transform: scale(1.2);
  cursor: pointer;
}

.list-card:hover {
  background-color: rgba(116, 77, 207, 0.6);
  transition: ease-in-out 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding: 0.2rem;
}

.priorityBtns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.priority-btn {
  width: 25px;
  height: 25px;
}

.category > .header {
  text-align: center;
  font-family: Orbitron, sans-serif;
  padding: 0.1rem;
  letter-spacing: 2px;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  height: 100%;
}

.cardsHeader {
  color: white;
}

.card {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr;
  background: rgba(104, 72, 134, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 24%;
  justify-self: flex-start;
  align-self: flex-start;
  width: 400px;
}

.card:hover {
  background: rgba(104, 72, 134, 0.5);
  border: 1px solid rgb(158, 156, 156);
  transition: ease-in-out 0.4s;
}

.header {
  grid-area: 1 / 1 / 3 / 2;
  font-size: 0.7rem;
  justify-self: flex-start;
  align-self: center;
  padding-left: 0.5rem;
  color: rgb(204, 179, 179);
  text-overflow: ellipsis;
}

.date {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 0.4rem;
  justify-self: center;
  align-self: center;
  padding-top: 0.2rem;
}

.priority {
  grid-area: 2 / 2 / 3 / 3;
  font-size: 0.4rem;
  justify-self: flex-end;
  align-self: center;
  padding-right: 0.3rem;
}
.description {
  grid-area: 3 / 1 / 3 / 3;
  font-size: 0.5rem;
  justify-self: flex-start;
  align-self: center;
  padding-left: 0.5rem;
}

.notes {
  grid-area: 4 / 1 / 5 /3;
  font-size: 0.5rem;
  justify-self: flex-start;
  align-self: center;
  padding-left: 0.5rem;
}

.card-btns {
  grid-area: 5 / 1 / 6 / 3;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.card-btn {
  width: 100px;
  height: 50px;
  border: none;
  background-color: transparent;
  color: rgba(255, 232, 98, 0.4);
  font-size: 0.5rem;
}

.card-btn:hover {
  color: rgba(252, 185, 0, 0.6);
  cursor: pointer;
}

input {
  width: 80%;
  height: 50px;
  font-size: 0.8rem;
  background-color: transparent;
  justify-self: center;
  align-self: center;
  text-align: center;
  color: rgba(211, 205, 216, 0.96);
  border: 2px solid rgba(104, 72, 134, 0.5);
  grid-area: 4/ 1 / 5 / 6;
}

input[type="date"] {
  color: rgb(128, 123, 123);
}

.inputs {
  width: 100%;
  grid-area: 3 / 1 / 4 / 5;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 0.2rem;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(128, 123, 123);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}

span,
p {
  color: rgb(209, 188, 188);
}

.input:focus {
  border: 2px solid rgba(104, 72, 134, 0.96);
  outline: rgba(104, 72, 134, 0.96);
}

.category {
  color: white;
  grid-area: 1 / 1 / 2 /4;
  justify-self: center;
  background-color: #3b00dd;
  width: 100%;
  border-radius: 10px;
  height: fit-content;
  background: rgba(59, 0, 221, 0.45);
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}

.categoryInput {
  grid-area: 3 / 1 / 4/ 6;
}

.dropBtn {
  width: 200px;
  height: 50px;
}

.drop-select {
  width: 100px;
}

label {
  color: rgb(128, 123, 123);
  grid-area: 3 / 2 / 4 / 3;
  justify-self: flex-end;
  align-self: center;
  font-size: 0.7rem;
}
select {
  grid-area: 3 / 3 / 4 / 4;
  justify-self: flex-start;
  align-self: center;
  height: 40px;
  width: 100px;
  font-size: 0.5rem;
  color: rgb(128, 123, 123);
  background-color: rgb(0, 0, 0);
  border: transparent;
  font-weight: bold;
  border-radius: 10px;
}

select:focus {
  color: rgb(168, 168, 168);
  outline: rgba(104, 72, 134, 0.96);
}

#list {
  width: 150px;
}

.myLists {
  display: flex;
  flex-direction: row;
}

.list {
  background-color: #3b00dd;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  padding: 0 0.2rem;
  border-radius: 10px;
}

.list-name {
  font-size: 0.7rem;
}

@media (max-width: 1024px) {
  .list-title {
    font-size: 0.5rem;
  }
  .list-priority,
  .list-date,
  .list-description,
  .list-notes {
    font-size: 0.4rem;
  }
}

@media (max-width: 700px) {
  .btn,
  h1 {
    display: none;
  }
  .todo-container:before {
    text-indent: 0;
    content: "We currently don't support mobile devices :)";
    float: left;
  }
  .todo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: rgb(248, 235, 252);
  }
  .category {
    display: none;
  }
}
